/* здесь подключите шрифты */
@font-face {
  font-family: "Оswald-400";
  src: url("../../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-400";
  src: url("../../fonts/lato/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
