/* здесь используйте глобальные переменные */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$main-color-text: #000000;
$secondary-color-text: #ffffff;
$special-color-text: #444444;
$tint-color-text: #111111;
$auxiliary-color-text: #222222;

$main-color-bg: #ffffff;
$secondary-color: #f0f0f0;
$special-color: #68b738;
$tint-color: #f0f0f0;
$auxiliary-color: #f0f0f0;
