/* здесь используйте глобальные переменные */

$mobile-width: 320px;
$tablet-width: 320px;
$desktop-width: 320px;

$main-color-text: #000000;
$secondary-color-text: #ffffff;
$special-color-text: #444444;
$tint-color-text: #111111;
$auxiliary-color-text: #222222;

$main-color-bg: #ffffff;
$secondary-color-bg: #f2f2f2;
$special-color-bg: #68b738;
$auxiliary-color-bg: #d9d9d9;
$tint-color-bg: #eaeaea;

$main-color-border: #e6e6e6;
$secondary-color-border: #cdcdcd;
$special-color-border: #666666;
