.catalog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: $mobile-width;
}

.catalog__title {
  position: relative;
  margin: 0;
  padding: 30px 20px 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0%;
  color: $main-color-text;
}

.catalog__title::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  top: 0;
  left: 50%;
  height: 1px;
  background-color: $auxiliary-color-border;
  transform: translateX(-50%);
}

.catalog__title::after {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  bottom: 0;
  left: 50%;
  height: 1px;
  background-color: $auxiliary-color-border;
  transform: translateX(-50%);
}

.catalog__list {
  @include list-reset;
}

.catalog__item {
  position: relative;
}

.catalog__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 100vw;
  bottom: 0;
  left: 50%;
  height: 1px;
  background-color: $auxiliary-color-border;
  transform: translateX(-50%);
}

// @media (min-width: $tablet-width) {
//   .catalog {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .catalog {
//     width: $desktop-width;
//   }
// }
