.example {
  align-items: center;
  width: $mobile-width;
  background-color: #f0f0f0;
}

@media (min-width: $tablet-width) {
  .example {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: $desktop-width;
  }
}
