//
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: $mobile-width;
  padding: 20px;
  background-color: $secondary-color-bg;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-self: stretch;
  padding: 20px 0 19px;

}

@media (min-width: $tablet-width) {
  .footer {
    min-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    min-width: $desktop-width;
  }
}
