.header {
  align-items: center;
  width: 100%;
}

.header__wrapper {
  width: $mobile-width;
  background-color: #f0f0f0;
}

.header__button--close {
  background-image: url("../../icons/stack.svg#menu_menu-open");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.header__button--close + .navigation {
  display: none;
}

// @media (min-width: $tablet-width) {
//   .header {
//     width: $tablet-width;
//   }
// }

// @media (min-width: $desktop-width) {
//   .header {
//     width: $desktop-width;
//   }
// }
