.hero {
  width: $mobile-width;
  margin: 0 auto;
  background-color: #f0f0f0;
}

@media (min-width: $tablet-width) {
  .hero {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .hero {
    width: $desktop-width;
  }
}
