.map {
  align-items: center;
  width: $mobile-width;
}

.map__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 27px 20px 25px;
}

.map__title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;

  color: $main-color-text;

  text-transform: uppercase;
}

.map__description {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;

  color: $special-color-text;
}

.map__container {
  width: 320px;
  height: 362px;
  border: none;
  background-image:
    image-set(
      url("../../images/map/map-mobile@1x.webp") 1x,
      url("../../images/map/map-mobile@2x.webp") 2x,
      url("../../images/map/map-mobile@1x.png") 1x,
      url("../../images/map/map-mobile@2x.png") 2x
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.map__mobile {
  width: 320px;
  height: 362px;
  border: none;
}

.map__mobile.no-js {
  display: none;
}

@media (min-width: $tablet-width) {
  .map {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
  }
}
